@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 4s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px red, 0 0 50px red, 0 0 100px red;
    }
    10%, 90%{
        color: #696565;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}

.description{
    color: red;
}


.button button {
    background-color: red; 
    border: none; 
    padding: 10px 20px; 
    font-size: 18px; 
    cursor: pointer;
    position: relative; 
    border-radius: 20px; 
    transition: background-color 0.3s ease-in-out; 
}
  
.button button a {
    text-decoration: none; 
    color: inherit; 
}
  
  
.heart-btn{
  position: relative;
  margin-top: 35px;
  width: 100px;       /* ⬅ manja širina */
  height: 72px;      /* ⬅ manja visina */
  background-color: red;
  border: none;
  cursor: pointer;
  transform: rotate(-45deg);
  transition: transform .3s ease, box-shadow .3s ease;

  filter: 
    drop-shadow(0 0 12px red)
    drop-shadow(0 0 24px hotpink);
}

/* gornja dva kruga */
.heart-btn::before,
.heart-btn::after{
  content: "";
  position: absolute;
  width: 77px;
  height: 72px;
  background-color: red;
  border-radius: 50%;
}

.heart-btn::before{
  top: -32px;        /* ⬅ prilagođeno */
  left: 3px;
}

.heart-btn::after{
  left: 36px;        /* ⬅ prilagođeno */
  top: 0;
}

/* tekst u sredini */
.heart-btn a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  color: white;
  font-size: 1rem; /* ⬅ manji tekst */
  text-decoration: none;
  font-weight: 600;
  z-index: 2;
}

.heart-btn:hover{
  filter:
    drop-shadow(0 0 18px red)
    drop-shadow(0 0 36px hotpink)
    drop-shadow(0 0 60px pink);
}

/* click */
.heart-btn:active{
  transform: rotate(-45deg) scale(0.95);
}



  